{% extends "auth/base_auth.html" %}
{% from "_macros.html" import password_field %}

{% block title %}Set New Password | {{ app_name }}{% endblock %}

{% block auth_content %}
<h1 class="auth__title">Choose a new password</h1>
<p class="auth__desc">Please enter and confirm your new secure password below.</p>

<form method="post" novalidate>
  {{ form.hidden_tag() }}
  {{ password_field(form.new_password, autocomplete="new-password", placeholder="At least 8 characters") }}
  {{ password_field(form.confirm_new_password, autocomplete="new-password", placeholder="Repeat your new password") }}

  {{ form.submit(class="button", value="Update Password") }}
</form>

<p class="auth__switch">Nevermind? <a href="{{ url_for('auth.login') }}">Return to sign in</a></p>
{% endblock %}
